<details id="comments-section" class="comments-section">
  <summary>Comments</summary>

  <div class="comments-wrapper">
    <div id="cusdis_thread"
      data-host="https://cusdis.com"
      data-app-id="690eb3e2-a69f-4962-817f-0453f1917cba"
      data-page-id="{{ page.id }}"
      data-page-url="{{ page.url | absolute_url }}"
      data-page-title="{{ page.title }}"
      data-theme="light"
      style="width: 100%;">
    </div>
  </div>
</details>

<script src="{{ '/assets/js/cusdis.js' | relative_url }}"></script>
