{% if page.puzzle_number %}
  <div class="puzzle-embed">
    <div id="crossword-embed" data-puzzle-number="{{ page.puzzle_number }}"></div>
    <script src="{{ '/assets/js/crossword.js' | relative_url }}"></script>
  </div>
{% elsif page.puzzle_id %}
  <div class="puzzle-embed">
    <iframe
      height="700px"
      width="100%"
      allow="web-share; fullscreen"
      src="https://puzzleme.amuselabs.com/pmm/crossword?id={{ page.puzzle_id }}&set={{ page.puzzle_set }}&embed=1"
      aria-label="Puzzle Me Game">
    </iframe>
  </div>
{% endif %}
